body{
  border:5px solid black;
  width:1224px;
  height:1000px;
  background-image:url('C:/Users/heave/Repo/fga/projects/New/img/assets/Body Background Image.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  position: relative;
  left:200px;
}
nav{
  text-align:center;
}
nav ul{
position: relative;
top:30px;
}
nav li{
display:inline;
}
nav a{
  color:black;
  text-decoration: none;
  font-size:20px;
  font-family: Helvetica;
  padding:80px;
}
hr{
  width: 700px;
  background-color:black;
  height: 4px;
  position: relative;
  top:40px;
}
.main{
  width: 632px;
  height: 1000px;
  background-color: white;
  position:relative;
  top:100px;
  left:300px;
}
